<%- include("header"); -%>

<div class="box" id="heading">
	<h1><%=listTitle%></h1>
</div>

<div class="box">

	<% listOfItems.forEach(function(item){ %>
	<form action="/delete" method="POST">
		<div class="item">
			<input type="checkbox" name="checkbox" value=<%= item._id %> onChange="this.form.submit()">
			<p><%= item.name %></p>
		</div>
		<input type="hidden" name="listName" value=<%= listTitle %>  ></input>
	</form>
	<% }) %>

	<form class="item" action="/" method="POST">
		<input name="newItem" type="text" placeholder="New Item" autocomplete="off">
		<button type="submit" name="listName" value=<%=listTitle%>>+</button>
	</form>
</div>

<%- include("footer"); -%>